.mainDetails{
    width: 1070px;
    margin: auto;
    margin-top: 80px;
}

h1{
    font-size: 45px;
}

.mainDetails img{
    width: 420px;
}

.internDetails{
    display: flex;
    font-size: 25px;
}

.internDetails .textDetails{
    margin-left: 20px;
    margin-bottom: 40px;
}

.buttonsDetails{
    display: flex;
    margin-top: 25px;
}

.buttonsDetails a{
    display: inline-block;
    width: 180px;
    height: 32px;
    padding-top: 8px;
    border-radius: 10px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background-color: #0085cf;
    margin-right: 10px;
}

.textDetails button{
    background-color: #0085cf;
    border: 0px;
    width: 120px;
    font-size: 20px;
    text-align: center;
    height: 40px;
    font-weight: 600;
    border-radius: 10px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
}