<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/styleBlog.css}">
</head>
<body>
    <header th:insert="blocks/header :: header"></header>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

    <div class="mainPart">
        <h1>Добавить статью</h1>

        <form method="post" th:action="'/posts/' + ${path}" th:object="${post}" enctype="multipart/form-data">
            <input id="title" placeholder="Enter title" required type="text" th:field="*{title}" />
            <input id="previewText" placeholder="Enter preview-text" required type="text" th:field="*{previewText}" />
            <input id="fullText" placeholder="Enter full text" required type="text" th:field="*{fullText}" />
            <label>Будущее</label><input type="radio" name="future" value="future" th:field="*{newsType}" />
            <input type="radio" name="past" value="past" th:field="*{newsType}" />
            <input type="file" name="image">
            <input type="submit" value="Save" />
        </form>
    </div>

    <footer th:insert="blocks/footer :: footer" />
</body>
</html>