<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/styleBlog.css}">
</head>
<body>
    <div th:insert="blocks/header :: header" />

    <div class="mainPart">
        <h1>ЧТО НОВОГО</h1>
        <div class="post" th:each="post : ${posts}">
            <div class="text">
                <h2 th:text="${post.title}" />
                <p th:text="${post.previewText}" />
                <a th:href="'/posts/' + ${post.id}" class="read_more">Узнать больше</a>

                <img src="/img/${post.image}}" alt="">
            </div>
        </div>
    </div>

    <div th:insert="blocks/footer :: footer" />
</body>
</html>