<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/styleDetails.css}">
</head>
<body>
    <div th:insert="blocks/header :: header" />

    <div class="mainDetails">
<!--        <h1 th:text="${post.title}" />-->
<!--        <div class="internDetails">-->
<!--            <img th:src="${post.imageName}" alt="">-->
<!--            <div class="textDetails">-->
<!--                <div th:text="${post.fullText}" />-->
<!--                <div class="buttonsDetails">-->
<!--                    <a th:href="'/posts/' + ${post.id} + '/edit'">Редактировать</a>-->

<!--                    <form th:action="'/posts/' + ${post.id} + '/delete'" method="post">-->
<!--                        <button>Удалить</button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <div th:each="post : ${post}">
            <h1 th:text="${post.title}" />
            <div class="internDetails">
                <div><img src="/static/9ac60f1c-2baf-40a1-82eb-5972ba857d1dXRFyu8NmCbA.jpg" alt=""></div>
                <div class="textDetails">
                    <div th:text="${post.fullText}" />
                    <div class="buttonsDetails">
                        <a th:href="'/posts/' + ${post.id} + '/edit'">Edit</a>

                        <form th:action="'/blog/' + ${post.id} + '/remove'" method="post">
                            <button>Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="blocks/footer :: footer" />
</body>
</html>