<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/styleBlog.css}">
</head>
<body>
    <header th:insert="blocks/header :: header"></header>

    <div class="main">
        <img src="main.png" width="1070px" alt="">
        <div class="back">
            <p class="events_heading_your_way">САЙТ ПММ</p>
            <div class="underheading">
                Мы стараемся выкладывать актуальные новости <br>и информацию о предстоящих событиях
            </div>
        </div>

        <h1 class="activities">ПРЕДСТОЯЩИЕ СОБЫТИЯ В ИЮЛЕ 2022</h1>



        <div class="QuickReminder">
            <p class="header_reminder">Напоминание</p>
            <p class="underheader_reminder">
                Чтобы иметь возможность выкладывать новости необходимо войти в аккаунт или пройти регистрацию
            </p>
        </div>

        <h1 class="latest_updates">ПОСЛЕДНИЕ НОВОСТИ</h1>


    </div>

    <div th:insert="blocks/footer :: footer" />
</body>
</html>