<div th:fragment="footer">
    <nav>
        <div>
            <p>Follow us on social media</p>
            <div>
                <img th:src="@{/facebook.png}">
                <img th:src="@{/google-plus.png}">
                <img th:src="@{/ig.png}">
                <img th:src="@{/linkedin.png}">
                <img th:src="@{/pinterest.png}">
                <img th:src="@{/twitter.png}">
            </div>
        </div>
    </nav>

    <div class="Support">
        <span>Privacy Policy</span>
        <span>Terms of Use</span>
        <span>Contact Us</span>
        <span>Manage Email Preferences</span>
        <span>Unsubscribe</span>
    </div>
</div>