<div th:fragment="header">
    <header>
        <div class="upLine">
            <a href="/" class="logo">
                <img th:src="@{/logo.png}">
                <div class="header-text"><span class="textNews">СТУД</span><br>Департмент</div>
            </a>

            <div class="navigation">
                <a href="/profile">Мой профиль</a>
                <a href="/posts">Новости</a>
                <a href="/posts/add">Добавить статью</a>
                <a href="#">О нас</a>
            </div>
        </div>
    </header>
</div>
